In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import torch
import sys
import os
from rdkit import Chem

In [2]:
data = pd.read_csv('combined_temp.csv')

In [27]:
data[['smiles','T_single']].rename(columns={'smiles':'SMILES','T_single':'MP'}).to_csv('combined_temp_v2.csv',index=False)

In [12]:
data[['smiles','Tm[K]']]

,smiles,Tm[K]
0,O.NC1=NC=NC2=C1N=C(Cl)N2C1OC(CO)C(O)C1O.NC1=NC...,433.15
1,OCCNC(=O)C1=CC(=CC=C1)C1=CC=C2C=CN(C2=C1)C1=C(...,436.65
2,COC1=CC=C(C=C1)C1=C(N=C(N1)SC1=CC(Cl)=C(Cl)C=C...,387.15
3,COC1=CC=CC(CN2C(=O)N(CC3=CC=CC=C3)C3=CC(Cl)=CC...,380.15
4,COC1=CC=C(CN2C(=O)N(CC3=CC=CC=C3)C3=CC(Cl)=CC(...,413.65
...,...,...
273399,COc1cc(ccc1O)C(=O)OCC,"317.15, 317.15, 317.15, 317.15, 317.15, 317.15..."
273400,CC(C)Nc1ccccc1,"263.15, 241.15, 263.15, 263.15, 263.15, 263.15..."
273401,FC(F)(F)C(F)(F)C(F)(F)C(F)(F)C(F)(F)C(F)(F)C(F...,"332.65, 355.65, 355.65, 355.65"
273402,COC1=CC=C(C=C1)[C@@H]1SC2=CC=CC=C2N(CCN(C)C)C(...,"481.15, 504.15, 504.15, 504.15"
273403,N[C@@H](CCCNC(N)=N)C(O)=O,"494.15, 494.15, 494.15, 517.15"

In [22]:
np.mean([float(x) for x in data['Tm[K]'].iloc[1].split(',')])

436.65

In [23]:
def convert_to_single_value(temp_list):
    return np.mean([float(x) for x in temp_list.split(',')])

In [24]:
data['T_single'] =data['Tm[K]'].apply(convert_to_single_value)

In [25]:
data['T_single']

0         433.150000
1         436.650000
2         387.150000
3         380.150000
4         413.650000
             ...
273399    320.450000
273400    256.864286
273401    349.900000
273402    498.400000
273403    499.900000
Name: T_single, Length: 273404, dtype: float64